<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>biblestudy</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            classpath:applicationContext.xml
        </param-value>
    </context-param>
    <!--<filter>
        <filter-name>opensessioninview</filter-name>
        <filter-class>
org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
        </filter-class>
    </filter>-->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>
            ResponseHeaderFilter
        </filter-name>
        <filter-class>
             fi.passiba.biblestudy.htmlcontext.ResponseHeaderFilter
        </filter-class>
        <init-param>
            <param-name>
               Cache-Control
            </param-name>
            <param-value>
                max-age=3600
            </param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>biblestudy</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>fi.passiba.biblestudy.BibleStudyApplication</param-value>
        </init-param>
        <init-param>
            <param-name>GoogleMapsAPIkey</param-name>
            <param-value>ABQIAAAApaHagsODSCLCv9FgsEXTwxT7sirunokky8rCdCDn6xIzPBys6hTuurTBTZGSp8CewL2i6InR2APaKA</param-value>
        </init-param>
        <init-param>
            <param-name>facebookAPIkey</param-name>
            <param-value>47e06f634a21ed596e05b5148de47d7d</param-value>
        </init-param>
         <init-param>
            <param-name>facebookSecretkey</param-name>
            <param-value>1fc2a6ea39613af228605f267c625ca7</param-value>
        </init-param>
    </filter>
   <!-- <filter-mapping>
        <filter-name>opensessioninview</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>-->
    <filter-mapping>
        <filter-name>biblestudy</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>
               ResponseHeaderFilter
        </filter-name>
        <url-pattern>/images/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>
               ResponseHeaderFilter
        </filter-name>
        <url-pattern>/bibleimages/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
     
  
  
        <servlet>
		<servlet-name>CXFServlet</servlet-name>
		<display-name>CXF Servlet</display-name>
		<servlet-class>
			org.apache.cxf.transport.servlet.CXFServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

   <!--<servlet>
        <servlet-name>Jersey</servlet-name>
        <servlet-class>com.sun.ws.rest.impl.container.servlet.ServletAdaptor</servlet-class>
        <init-param>
            <param-name>webresourceclass</param-name>
            <param-value>fi.passiba.biblestudy.feed.GroupFeedResource</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Jersey</servlet-name>
        <url-pattern>/atom/*</url-pattern>
    </servlet-mapping>
        <resource-ref>
            <res-ref-name>java:comp/env/jms/ConnectionFactory</res-ref-name>
            <res-type>javax.jms.ConnectionFactory</res-type>
            <res-auth>Container</res-auth>
            <res-sharing-scope>Shareable</res-sharing-scope>
        </resource-ref>
        <resource-ref>
            <res-ref-name>java:comp/env/jms/bibleDataQueue</res-ref-name>
            <res-type>javax.jms.Queue</res-type>
            <res-auth>Container</res-auth>
            <res-sharing-scope>Shareable</res-sharing-scope>
        </resource-ref>-->
</web-app>
