<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:jee="http://www.springframework.org/schema/jee"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
            
   <tx:annotation-driven transaction-manager="transactionManager"/>
   <import resource="classpath:META-INF/biblestudy-data-hibernate.xml"/>
   <import resource="classpath:META-INF/biblestudy-webservice.xml"/>
   <bean id="placeholderConfig"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="location">
            <value>classpath:application.properties</value>
        </property>
        <property name="systemPropertiesModeName">
            <value>SYSTEM_PROPERTIES_MODE_OVERRIDE</value>
        </property>
    </bean>
    
    <bean id="IAuthenticator" class="fi.passiba.services.authenticate.AuthenticatorImp">
        <property name="personDAO" ref="PersonDAO" />
    </bean>
   
     <bean id="IGroupServices" class="fi.passiba.services.group.GroupServicesImp">
        <property name="groupDAO" ref="GroupsDAO" />
    </bean>
    <bean id="IAddressService" class="fi.passiba.services.address.AddressServiceImp">
        <property name="addressDAO" ref="AddressDAO" />
    </bean>
    
    <bean id="biblesessionProcessingGageway" class="fi.passiba.groups.ui.pages.wizards.biblesession.dataprocessing.BibleBookdDataProcessingImp">
        <property name="jmsTemplate" ref="jmsTemplate"/>
    </bean>
     
  
  
 
</beans>