<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.jdbc.Driver
        </property>
        <property name="connection.url">jdbc:mysql://localhost:3306/biblestudy?autoReconnect=true&amp;amp;relaxAutoCommit=true
        </property>
        <property name="connection.username">bibleuser
        </property>
        <property name="connection.password">b8bl47s4r
        </property>
        <property name="hibernate.show_sql">true
        </property>
        <property name="hibernate.hbm2ddl.auto">update
        </property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect
        </property>
    <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">10
        </property>
    <!-- Enable Hibernate's automatic session context management -->
        <property name="current_session_context_class">managed
        </property>
        <property name="hibernate.format_sql">true
        </property>
        <property name="hibernate.max_fetch_depth">3
        </property>
        <property name="hibernate.default_batch_fetch_size">4
        </property>
        <mapping class="fi.passiba.services.biblestudy.persistance.Booksection"/>
        <mapping class="fi.passiba.services.biblestudy.persistance.Bibletranslation"/>
        <mapping class="fi.passiba.services.biblestudy.persistance.Verse"/>
        <mapping class="fi.passiba.services.biblestudy.persistance.Chapter"/>
        <mapping class="fi.passiba.services.biblestudy.persistance.Book"/>
        <mapping class="fi.passiba.services.biblestudy.datamining.persistance.Bookdatasource"/>
        <mapping class="fi.passiba.services.biblestudy.persistance.Biblesession"/>
        <mapping class="fi.passiba.services.group.persistance.Groupservice"/>
        <mapping class="fi.passiba.services.group.persistance.Groups"/>
        <mapping class="fi.passiba.services.persistance.Status"/>
        <mapping class="fi.passiba.services.persistance.Person"/>
        <mapping class="fi.passiba.services.persistance.Adress"/>
        <mapping class="fi.passiba.services.persistance.Users"/>
    </session-factory>
</hibernate-configuration>
