/* INDEX:
font sizes
page background
main
header 
	logo
	quicksearch
	top_right
		lang
		user_info
navi 
	start 
	end
	logout
content_area
	start 
	end
	sub_navi
	content
footer
*/

* {font:12px Verdana, Arial, Helvetica, sans-serif;}
form, span, a, div, ul, label {font-size:100%;}
body {background:#8cacbb url('../../images/bg_body.gif') top left repeat-x;}
#main {}

/* HEADER starts -------------------------------------------------------- */	
#header {
	background:white;
}

#quicksearch {}
#quicksearch a, #quicksearch input, #search a, #search input {
	font-size:95%;
	margin-right:5px;
	margin-bottom:2px;
}
#quicksearch label, #search label {font-size:95%;}
#quicksearch a, #search a {width:100%;}
#quicksearch h5, #search h5 {display:none;}
#search {margin-bottom:20px;}
#lang, #user_info {
	margin-right:5px;
	float:right;
}
#lang, #lang li, #user_info {
	font-size:95%;
	text-align:right;
}
#lang li {
	list-style:none;
	display:inline;
	padding-left:3px;
}

#user_info {
	float:none;
	margin-top:30px;
}
#user_info span {
	float:none;
	padding-left:5px;
}
/* HEADER ends   -------------------------------------------------------- */
/* NAVI starts -------------------------------------------------------- */
#navi {		
	background:#f1f1f1 url('../../images/bg_navi.gif') top left repeat-x;	
	border-bottom:1px solid #d8d8d8;
	height:24px;
}
#navi ul {
	list-style:none;
}
#navi li {
	display:inline;
}
#navi li a {
	color:#000000;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
	border-right:1px solid #d8d8d8;
	font-size:95%;
}	
#navi li a:hover {
	color:#ffffff;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
	border-right:1px solid #d8d8d8;
	border-top:1px solid #d8d8d8;
	background:#e78787 url('../../images/bg_navi_hover.gif') top left repeat-x;	
	font-size:95%;
}
#navi .active {
	color:#cc0000;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
	border-right:1px solid #d8d8d8;
	border-top:1px solid #d8d8d8;
	border-bottom:2px solid #ffffff;
	background:#ffffff url('../../images/bg_navi_active.gif') top left repeat-x;	
	font-size:95%;
}	
#navi .start  {
	background:#8cacbb url('../../images/bg_navi_left.gif') top left no-repeat;
	width:2px;
	height:25px;
}
#navi .end {
	float:right;
	background:#8cacbb url('../../images/bg_navi_right.gif') top right no-repeat;
	width:2px;
	height:25px;
}

#logout {
	float:right;
}
#logout ul {
	background:none;
}
#logout ul li a {
	border:0;
	font-size:95%;
}
#logout ul li a:hover {
	color:#cc0000;
	text-decoration:underline;
	background:none;
	border:0;
}
/* NAVI ends   -------------------------------------------------------- */
/* CONTENT AREA starts ------------------------------------------------ */
#sub_navi {}
#sub_navi h4 {
	color:#656565;
	padding:5px;
	padding-left:15px;
	font-size:100%;
	margin-bottom:0;
	border:1px solid #cccccc;
	border-bottom:none;
}
#sub_navi ul {
	list-style:none;
	width:100%;
	color:#808080;
}
#sub_navi ul li a {
	padding-left:15px;
	color:#808080;
}
#sub_navi ul li a:hover {
	text-decoration:none;
}
#sub_navi ul .active {
	color:#cc0000;
	font-weight:bold;
}
#sub_navi .level1 {
	border-top:1px solid #cccccc;
	padding-bottom:0;
}
#sub_navi .level1 li {
	padding-top:4px;
	padding-bottom:4px;
	background:url('../../images/bg_sub_navi_arrow.gif') top left no-repeat;
	width:100%;
	border-bottom:1px solid #cccccc;
}
#sub_navi .level1 .active {
	padding-top:4px;
	padding-bottom:4px;
	background:url('../../images/bg_sub_navi_arrow.gif') top left no-repeat;
	width:93%;
	padding-left:15px;
}

#sub_navi .level2 {
	width:93%;
	border-top:1px solid #cccccc;	
	margin-top:4px;
	padding-left:15px;
}
#sub_navi .level2 li {
	border:0;
	width:100%;
	border-bottom:1px solid #cccccc;
}
#sub_navi .level2 .last {
	border:0;
}
#sub_navi .level2 li a {}
#sub_navi .level2 .active {
	width:92%;
	border-top:0;
}


#content {
	margin-right:10px;
}
#content p {
	float:none;
}
#content .start {}
#content .data {
	background:#ffffff;
	padding:10px;
	width:680px;
}
#content .group_data {
	background:#ffffff;
	padding:10px;
	width:960px;
}
#content .end {
	background:url('../../images/bg_content_bottom.gif') bottom left no-repeat;
	width:100%;
}

#navipath {
	width:100%;
	margin:0;
}
#navipath ul {
	list-style:none;
}
#navipath ul li {
	font-size:80%;
	padding-right:5px;
}
#navipath ul li a {
	padding-right:5px;
}

#wizard {margin-bottom:5px;}
#wizard ul {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
	display:inline;
}
#wizard ul li {
	width:136px;
	height:33px;
	font-size:95%;
	text-align:center;
	background:#ffffff url('../../images/bg_wizard.gif') bottom right no-repeat;
	border-bottom:6px solid #dcdcdc;
	color:#979797;
}
#wizard ul li a {width:100%;}
#wizard .last {background:none;}
#wizard .current {
	border-bottom:6px solid #d00009; 
	color:#d00009; 
	font-weight:bold;
}
#wizard .visited {border-bottom:6px solid #fb9d00;}
#wizard .visited a {color:#000000;}

#btn_help {
	width:42px;
	position:absolute; 
	top:12px; 
	right:0px;
}

#footer {
	padding-top:10px;
	text-align:center;
	color:#797a79;
}

#tabs {		
	background:#f1f1f1 url('../../images/bg_navi.gif') top left repeat-x;	
	border-bottom:1px solid #d8d8d8;
	height:24px;
}
#tabs ul {
	list-style:none;
}
#tabs li {
	display:inline;
}
#tabs li a {
	color:#000000;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
	border-right:1px solid #d8d8d8;
	font-size:95%;
}	
#tabs li a:hover {
	color:#ffffff;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
	border-right:1px solid #d8d8d8;
	border-top:1px solid #d8d8d8;
	background:#e78787 url('../../images/bg_navi_hover.gif') top left repeat-x;	
	font-size:95%;
}
#tabs .active {
	color:#cc0000;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
	border-right:1px solid #d8d8d8;
	border-top:1px solid #d8d8d8;
	border-bottom:2px solid #ffffff;
	background:#ffffff url('../../images/bg_navi_active.gif') top left repeat-x;	
	font-size:95%;
}	
#tabs .start  {
	background:#8cacbb url('../../images/bg_navi_left.gif') top left no-repeat;
	width:2px;
	height:25px;
}
#tabs .end {
	float:right;
	background:#8cacbb url('../../images/bg_navi_right.gif') top right no-repeat;
	width:2px;
	height:25px;
}

#number_list {
}
#number_list ul {
	list-style:none;
	width:100%;
	color:#808080;
}
#number_list ul li a {
	padding-left:15px;
	color:#808080;
}

/* CONTENT AREA ends -------------------------------------------------- */